<app-encabezado></app-encabezado>



<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1>Unirme a un viaje</h1>
  </ion-text>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let item of items" [button]="true" (click)="selectItem(item)">
        <ion-icon slot="start" [name]="item.icon"></ion-icon> <!-- Usar ion-icon aquí -->
        <ion-label>{{ item.name }}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="item.selected" [disabled]="true"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="guardarSeleccion()">Seleccionar viaje</ion-button>
  </ion-card>
</ion-content>

<app-footer></app-footer>