  <ion-footer>
    <ion-toolbar>
      <ion-buttons class="center-icon">
        <ion-button (click)="toback()" slot="icon-only">
          <ion-icon slot="icon-only" name="caret-back-outline"></ion-icon>
        </ion-button>
        <ion-button slot="icon-only">
          <ion-icon slot="icon-only" name="caret-down-outline"></ion-icon>
        </ion-button>
        <ion-button slot="icon-only">
          <ion-icon slot="icon-only" name="caret-forward-outline"></ion-icon>
        </ion-button>
        
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>