<app-encabezado></app-encabezado>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear viaje</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Aqui podras crear un viaje y publicarlo para que otras personas puedan unirse.
    </ion-card-content>
    <ion-button (click)="crearViaje()" fill="clear">Crear viaje</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Unirme a viaje</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Selecciona el viaje existente que mas te conviene.
    </ion-card-content>
  <ion-button (click)="unirseViaje()" fill="clear">Unirme a viaje</ion-button>
  </ion-card>
</ion-content>



<app-footer></app-footer>